[submodule "esp-idf"]
	path = esp-idf
	url = ../../CommanderRedYT/esp-idf.git
[submodule "components/cpputils"]
	path = components/cpputils
	url = ../../CommanderRedYT/cpputils.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = ../../CommanderRedYT/arduino-esp32.git
[submodule "components/fmt"]
	path = components/fmt
	url = ../../CommanderRedYT/fmt.git
[submodule "components/FastLED-idf"]
	path = components/FastLED-idf
	url = ../../CommanderRedYT/FastLED-idf.git
[submodule "components/espconfiglib"]
	path = components/espconfiglib
	url = ../../CommanderRedYT/espconfiglib.git
[submodule "esp-protocols"]
	path = esp-protocols
	url = ../../CommanderRedYT/esp-protocols.git
[submodule "components/date"]
	path = components/date
	url = ../../CommanderRedYT/date.git
[submodule "components/espcpputils"]
	path = components/espcpputils
	url = ../../CommanderRedYT/espcpputils.git
[submodule "components/espchrono"]
	path = components/espchrono
	url = ../../CommanderRedYT/espchrono.git
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = ../../CommanderRedYT/ArduinoJson.git
[submodule "components/esphttpdutils"]
	path = components/esphttpdutils
	url = ../../CommanderRedYT/esphttpdutils.git
[submodule "components/espwifistack"]
	path = components/espwifistack
	url = ../../CommanderRedYT/espwifistack.git
[submodule "components/cxx-ring-buffer"]
	path = components/cxx-ring-buffer
	url = ../../CommanderRedYT/cxx-ring-buffer.git
[submodule "components/TFT_eSPI"]
	path = components/TFT_eSPI
	url = ../../0xFEEDC0DE64/TFT_eSPI.git
[submodule "components/esptftlib"]
	path = components/esptftlib
	url = ../../CommanderRedYT/esptftlib.git
[submodule "components/espfontlib"]
	path = components/espfontlib
	url = ../../CommanderRedYT/espfontlib.git
[submodule "components/esp-gui-lib"]
	path = components/esp-gui-lib
	url = ../../CommanderRedYT/esp-gui-lib.git
[submodule "components/sunset-idf"]
	path = components/sunset-idf
	url = ../../CommanderRedYT/sunset-idf.git
[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = ../../UncleRus/esp-idf-lib.git
